
$slider-width: 80%; 
$thumbnail-width: 80px; 
$thumbnail-margin: 10px; 
$border-color-default: #ddd; 
$border-color-selected: #f00; 
$border-color-hover: #333; 
$slider-margin-top: 10px;

$primary-color: #b47838df;
$secondary-color: #333;
$font-family: 'Arial', sans-serif;
$background-color: #f4f4f4;
$hover-color: #f0f0f0;
